In [1]:
# Import packages
import pandas as pd
from pathlib import Path as Pt

In [4]:
# Create and store filepath
budget_data = Pt("Resources/budget_data.csv")

# Read file with pandas and create dataframe, ignore encoding atm
budget_df = pd.read_csv(budget_data)

In [11]:
# test that it exists
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [6]:
# Idk if I'm allowed to use pandas for this assignment, let's retry with the PythonD2 stuff
# Import packages part 2
import os
import csv

In [16]:
# Create and store filepath
budget_csv = os.path.join("","Resources","budget_data.csv")

# Col names as empty lists
date = []
profit_losses = []
month = []
year = []

In [14]:
# Open and read csv, with open
with open(budget_csv) as budget_csv_file:
    budget_read = csv.reader(budget_csv_file, delimiter = ",")
    # read through rows append column heads to row[num], too many sets, needs peel
    for row in budget_read:
        # append date list, 0
        date.append(row[0])
        # append profit_losses, 1
        profit_losses.append(row[1])
        # Unsure if the csv date is hashed as month-day or month-year?
        # lets split as if it were month-year, AT-D2,  i might be creating problems for myself
        date_split = row[0].split("-")
        month.append(date_split[0])
        year.append(date_split[1])
        
# zip le split

In [15]:
# check that it exists
budget_read